# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env
*.env

# Django
db.sqlite3
*.log

# Node
node_modules/
dist/

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db